.s3-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3vw;
  gap: 20px 20px;
  height: fit-content;
  margin-bottom: 100px;
  margin-top: 100px;

  .s3-c1,
  .s3-c2,
  .s3-c3 {
    background-color: black;
    border-radius: 20px;
  }

  .s3-c1 {
    height: 500px;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    overflow: hidden;

    .s3-c1-main-text {
      z-index: 10;
      position: absolute;
      width: fit-content;
      height: fit-content;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      border-radius: 20px;
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

      transition: 0.5s;
      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }

      .s3c1-heading {
        text-align: center;
        font-size: 4rem;
        font-weight: 200 !important;

        span {
          display: inline-block;
          font-family: "Lobster", cursive;
          font-weight: 900 !important;
          padding: 0 5px;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            height: 5px;
            width: 100%;
            background: white;
            bottom: 0;
            left: 0;
            border-radius: 100px;
          }
        }
      }

      .s3c1-para {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: 20px;
      }

      .s3c1-btn {
        width: 200px;
        height: 50px;
        background: white;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        transition: 0.5s;
        margin: 20px auto 0 auto;

        &:hover {
          cursor: pointer;
          background: black;
          border: 2px solid white;
          color: white;
        }
      }
    }

    .s3-c1-img1-container {
      height: 20px;
      width: 20px;

      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;

      .s3-c1-img1 {
        width: 600px;
      }
    }
  }

  .s3-c2,
  .s3-c3 {
    height: 700px;
    background-size: cover;
    background-position: center;
  }

  .s3-c2 {
    position: relative;
    color: white;
    overflow: hidden;

    .s3-c2-screen {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.4),
        rgba(59, 59, 59, 0.2),
        rgba(119, 119, 119, 0.2),
        rgba(185, 185, 185, 0.2),
        rgba(255, 255, 255, 0.2)
      );

      .s3-c2-content {
        position: absolute;
        height: 300px;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 2rem;
        }
        .s3-c2-content-btn {
          margin-top: 30px;
          background: white;
          width: 400px;
          height: 60px;
          border-radius: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          border: 2px solid black;
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            background: black;
            color: white;
          }
        }
      }
    }
  }

  .s3-c3 {
    position: relative;

    color: white;
    overflow: hidden;

    .s3-c3-screen {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.4),
        rgba(59, 59, 59, 0.1),
        rgba(119, 119, 119, 0.1),
        rgba(185, 185, 185, 0.1),
        rgba(255, 255, 255, 0.1)
      );

      .s3-c3-content {
        position: absolute;
        height: 300px;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 2rem;
        }
        .s3-c3-content-btn {
          margin-top: 30px;
          background: white;
          width: 400px;
          height: 60px;
          border-radius: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          border: 2px solid black;
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            background: black;
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .s3-container {
    grid-template-columns: 1fr;

    .s3-c1 {
      grid-column-start: 1;
      grid-column-end: 2;

      .s3-c1-main-text {
        // z-index: 10;
        // position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0;

        .s3c1-heading {
          font-size: 3rem;
        }

        .s3c1-para {
        }

        .s3c1-btn {
          &:hover {
          }
        }
      }

      .s3-c1-img1-container {
        height: 20px;
        width: 20px;

        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;

        .s3-c1-img1 {
          width: 600px;
        }
      }
    }

    .s3-c2 {
      height: 600px;
      .s3-c2-screen {
        .s3-c2-content {
          .s3-c2-content-btn {
            width: 300px;

            &:hover {
            }
          }
        }
      }
    }

    .s3-c3 {
      height: 600px;
      .s3-c3-screen {
        .s3-c3-content {
          .s3-c3-content-btn {
            width: 300px;
          }
        }
      }
    }
  }
}
