.s4 {
  width: 100vw;
  padding: 0 3vw;
  margin-top: 90px;

  .s4-heading-container {
    position: relative;
    height: 3px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;

    h3 {
      position: absolute;
      top: 50%;
      background: rgb(243, 247, 245);
      transform: translateY(-50%);
      padding-right: 10px;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
    }
  }

  .s4-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    .s4-video-card {
      height: 800px;
      width: 100%;
      background: black;
      border-radius: 20px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      video {
        width: 100%;
      }
    }

    .s4-product-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 500px) {
  .s4 {
    .s4-cards-container {
      grid-template-columns: 1fr;

      .s4-video-card {
        display: none;
      }
      .s4-product-container {
        row-gap: 20px;
      }
    }
  }
}
