.header-container {
  height: 650px;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  z-index: 0;
  padding: 0 5%;

  .header-text-and-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: 300px;

    h1 {
      font-size: 4rem;
    }

    .header-btn {
      margin-top: 30px;
      width: 200px;
      height: 50px;
      color: white;
      background: black;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 200px;
      transition: 0.5s;

      &:hover {
        cursor: pointer;
        background: white;
        border: 3px solid black;
        color: black;
      }
    }
  }
}
