//* Elements :
$Main-Background: #f2f7f5;
$Background: #00473e;
$Headline: #010101;
$Paragraph: #94a1b2;
$Button: #7f5af0;
$Button-text: #fffffe;

//*Illustration :
$Stroke: #010101;
$Main: #fffffe;
$Highlight: #7f5af0;
$Secondary: #72757e;
$Tertiary: #2cb67d;
