.login-box {
  width: 35.33vw;
  height: fit-content;

  padding-top: 30px;
  padding-bottom: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  h1,
  p {
    text-align: center;
  }
  h1 {
    font-size: 3rem;
    line-height: 4.5rem;
  }
  p {
    font-size: 1.3rem;
    font-weight: 300;
  }

  .login-form-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px auto 30px auto;
    justify-content: center;
    align-items: center;
    gap: 20px;

    input,
    button {
      width: 100%;
    }

    input {
      height: 50px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      background: transparent;
      padding: 10px;
      outline: none;

      &:focus {
        border: 2px solid black;
      }
    }

    button {
      height: 50px;
      border-radius: 300px;
      border: 2px solid black;
      background: transparent;
      font-size: 1.1rem;
      font-weight: 400;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: black;
        color: white;
      }
    }
  }

  .login-create-account-link {
    font-weight: 400;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
  }
}
